img{
    margin-top: 10px;
    padding-right: 5px;
    width: 5rem;
    height: 5rem;
    object-fit: fill;
}

.quantityBtn{
    padding: 6px;
    width: 7rem;
    display: flex;
    flex-direction: row; 
    align-items: center;
}
.quantityBtn input{
    text-align: center;
    border: none;
}
.quantityBtn i{
    padding: 3px 0;
    border: 1px solid rgb(188, 188, 188);
     border-radius: 6px;
    transition: all .3s;
}
.quantityBtn i:hover{
    color: rgb(0, 93, 200);
    border: 1px solid rgb(61, 158, 255);
    border-radius: 2rem;
    transition: all .3s ease-in-out;
}

.bi-trash:hover{
    position: relative;
    color: rgb(155, 0, 0);
    /* transform: scale(1.5); */
    font-size: 20px;
    transition: all .1s ease-in-out;
}


i{
    cursor: pointer;
}
.loader{
    z-index: 200;
    background: rgba( 255, 255, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9px );
-webkit-backdrop-filter: blur( 9px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.loader >div{
    margin-top: 16rem;
}

.cart-details{
    padding: 8px; 
    min-width:16rem;  
    max-width: 25rem; 
    height: max-content; 
    border: 1px solid rgb(206, 208, 209); 
    text-align: center;
}

.summery{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: start;
}
.summery span{
    width: 8rem;
}
.summery span:nth-child(2){
    width: 5rem;
    text-align: end;
}

.item-description{
    max-width: 30rem;
    height: 2.2rem;
    font-size: 14px;
    color: rgb(87, 86, 86);
    overflow-y: hidden;
}