.loader{
    z-index: 200;
    background: rgba( 255, 255, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9px );
-webkit-backdrop-filter: blur( 9px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.loader >div{
    margin-top: 16rem;
}

.container{
    max-width: 35rem;
}
.item-description{
    max-width: 30rem;
    height: 2.2rem;
    font-size: 14px;
    color: rgb(87, 86, 86);
    overflow-y: hidden;
}

/* .container button, .stockOut{
    width: 6rem;
} */
.card-body{
    cursor: pointer;
}
.card-body >div{
    max-width:15rem ;
}
.card-body>div:hover h6{
   color: rgb(11, 120, 245);
}