<div
  class="w-100  p-4 d-flex flex-row justify-content-around gap-2"
  style="height: 25rem; background-color: #c8c8c8"
>
 <div style="max-width: 35rem;" class="mt-5 ml-4" >
     <h1>
    Best Prices Incredible Prices on All Your Favorite Items
  </h1>
  <button class="btn btn-primary mt-3" routerLink="/products">Shop now</button>
 </div>
  <img
    src="../../../assets/phone.png"
    alt=""
    style=" min-width: 150px; object-fit: contain;"
  />
</div>

<!-- section 1 -->

<div class="py-5 d-flex flex-column flex-md-row justify-content-center gap-5">
  <div class="hording">
    <div>
        <h3 id="headings">Upto 60% on Best selling smartphones</h3>
        <button class="btn btn-primary" routerLink="/products">Shop now</button>
    </div>
      <img src="https://static.wixstatic.com/media/c837a6_d84a631864a442a496670bc2d787c6a0~mv2.jpg/v1/fill/w_584,h_468,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/c837a6_d84a631864a442a496670bc2d787c6a0~mv2.jpg" alt="">
  </div>
    <div class="hording">
        <div>
        <h3 id="headings">Do your work from anywhere with best selling laptops</h3>
        <button class="btn btn-primary" routerLink="/products">Shop now</button>
    </div>
        <img src="https://static.wixstatic.com/media/c22c23_e140bfa8cd6f4cb2ac5ee6e204f64073~mv2.jpg/v1/fill/w_584,h_468,al_t,q_80,usm_0.66_1.00_0.01,enc_auto/c22c23_e140bfa8cd6f4cb2ac5ee6e204f64073~mv2.jpg" alt="">
    </div>
</div>



<bestselling></bestselling>
