.loader{
    background: rgb(246, 12, 12);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9px );
-webkit-backdrop-filter: blur( 9px );
border-radius: 10px;
border: 1px solid rgb(251, 11, 11);
}
.loader >div{
    margin-top: 16rem;
}
