.navbar{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav-search input{
  padding: 4px 7px;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 5px;
  outline: none;
}
.nav-search ul{
box-shadow: 0px 6px 14px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 6px 14px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 14px 1px rgba(0,0,0,0.75);
}
.nav-search ul li:hover{
  background-color: rgb(242, 242, 242);
}

.nav-search input:focus{
  border:1.6px solid rgb(83, 206, 255);
}


.user-menu {
  position: relative;
}
.user-menu div {
  display: none;
}
.user-menu:hover div {
  display: block;
}

.user-menu .bi-person-circle {
  font-size: 24px;
  cursor: pointer;
}

.user-menu ul {
  margin: 0px;
  width: 7rem;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.user-menu ul li {
    padding: 5px;
  list-style: none;
  cursor: pointer;
  text-align: center;
}

.user-menu ul li:hover {
  background-color: rgb(231, 231, 231);
  transition: background-color 0.5s;
}
.user-menu ul li a{
  padding: 1rem .8rem;
  text-decoration: none;
  color: black;
}

.navbar i:hover{
  color: rgb(100, 134, 255);
  transition: color .2s ease-in-out;
}
.offcanvas{
  width: 100vw;
background: rgba( 81, 77, 77, 0.5 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 11px );
-webkit-backdrop-filter: blur( 11px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.offcanvas > div{
  width: 15rem;
  height: 100%;
  background-color: rgb(255, 255, 255);
}