<nav class="navbar navbar-expand-lg  bg-body-tertiary">
  <div class="container-fluid">
    <ul class="navbar-nav d-sm-flex d-none flex-column gap-3 flex-sm-row">
      <li
        *ngFor="let link of links"
        class="flex-sm-fill text-sm-center nav-item"
      >
        <a routerLink="{{ link.link }}" class="nav-link">{{ link.name }}</a>
      </li>
      <li *ngIf="!loggedIn" class="flex-sm-fill text-sm-center nav-item">
        <a routerLink="/track" class="nav-link">Track order</a>
      </li>
    </ul>



  <div class="nav-search" style="height: 2rem; width: 13.5rem;" >
    <input type="text" #searchInput (keyup)="searchProduct($event)" (blur)="hideSearch()" placeholder="Search for products">
    <ul class="suggested-search "
      style="max-height: 10.5rem; z-index: 100;  background-color: rgb(255, 255, 255); overflow-y: hidden;z-index: 100; position: relative;   "
      *ngIf="searchResult">
      <li *ngFor="let item of searchResult" (mousedown)="redirectToDetails(item.title)">
        <img src="{{item.thumbnail}}" alt=""> <a >{{item.title}}</a>
      </li>
    </ul>
  
  </div>

    <!-- menu button -->
    <i class="bi bi-list d-sm-none d-block fs-1" (click)="show()"></i>
    <!-- sidebar -->
  <div [class.show]="open" class="offcanvas d-sm-none offcanvas-start backdrop" data-bs-scroll="true" id="offcanvasExample" (click)="hide()"   aria-labelledby="offcanvasExampleLabel">
    <div>
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" (click)="hide()"></button>
      </div>
      <div class="offcanvas-body">
            <ul class="navbar-nav d-sm-none d-block flex-column gap-2 flex-sm-row">
              <li *ngFor="let link of links" class="flex-sm-fill text-sm-center nav-item">
                <a routerLink="{{ link.link }}" class="nav-link" (click)="hide()">{{ link.name }}</a>
              </li>
            </ul>
      </div>
    </div>
  </div>
  <!-- user menu -->
    <div class=" position-relative px-2 d-flex gap-3">
      <div class="user-menu z-3">
        <span><i class="bi bi-person-circle"></i></span>
        <div class="card" style="position: absolute; left: -2.5rem;">
          <ul class="card-body">
            <!-- if user is not login -->
            <li *ngIf="!loggedIn"><a routerLink="/login">Login</a></li>
            <li *ngIf="!loggedIn"><a routerLink="/signup">Signup</a></li>

            <!-- if user is login -->
            <li *ngIf="loggedIn" (click)="logout()">Logout</li>
            <li *ngIf="loggedIn"><a routerLink="/order">My order</a></li>
          </ul>
        </div>
      </div>
      <!-- cart button -->
      <span
        class="position-absolute translate-middle badge rounded-pill bg-danger"
        style="top: 1px; right: -20px" 
      >
        {{this.count}}
      </span>
      <i class="bi bi-cart fs-4" title="Cart" style="cursor: pointer" routerLink="/cart"></i>
    </div>
  </div>
</nav>
