.container{
    padding: 5rem 1rem;
    height: 80vh;
    width: 100%;
}

.card{
    margin: auto;
    padding-top: 1rem;
    max-width: 25rem;
    min-height: 8rem;
    text-align: center;
}
.card-body .position-absolute{
    padding: 1rem;
    top: -3rem;
    width: 4.6rem;
     left: 38%;
     border: 1px solid #0d6efd;
     border-radius: 50%;
     color: white;
     background-color: #0d6efd;
     font-size: 26px;
}