.quantityBtn{
    padding: 6px;
    width: 7rem;
    display: flex;
    flex-direction: row; 
    align-items: center;
}
.summery{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: start;
}
.summery span{
    width: 8rem;
}
.summery span:nth-child(2){
    width: 5rem;
    text-align: end;
}
.col-sm-6{
    height: 5.3rem;
}
.input-error{
    font-size: 11px;
    color: rgb(187, 15, 15);
}
/* order place button animation */
.order{
    margin: 1rem auto;
    font-size: 22px;
    height: 3rem;
    position: relative;
    overflow: hidden;
}

.order span::before{
    content: "Place Order";
    position: absolute;
    top: 5px;
    left: 2.5rem;
}
.textTransform::before{
    transform: translateX(-15rem);
    transition: all 1s;
}

.order span::after{
    content: "\F270";
    font-size: 26px;
    font-family: "bootstrap-icons";
    position: absolute;
    top: 3px;
    left: 6.5rem;
    transform: translateY(-3rem);
}
.order .textTransform::after{
    transform: translateY(0);
    transition: all 1s ease-in;
}

.order i{
    position: absolute;
    top: 7px;
    left: 10.7rem;
}

.order .animateIcon{
  
    transform: translateX(6rem);
    transition: all 1s ease-in-out;
}