.quantityBtn{
    padding: 6px;
    width: 7rem;
    display: flex;
    flex-direction: row; 
    align-items: center;
}
.summery{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: start;
}
.summery span{
    width: 8rem;
}
.summery span:nth-child(2){
    width: 5rem;
    text-align: end;
}
.col-sm-6{
    height: 5.3rem;
}
.input-error{
    font-size: 11px;
    color: rgb(187, 15, 15);
}