<form [formGroup]="form" class="m-auto mt-5 p-4 d-flex flex-column border text-bg-light"  (ngSubmit)="onSubmit()">
    <div class="form-floating mt-4 mb-3">
        <input type="email" class="form-control" placeholder="name@example.com" formControlName="email">
        <label for="floatingInput">Email address</label>
        <div *ngIf="email && email.touched" class="text-danger">
            <span *ngIf="email.errors?.['required'] ">Enter email</span>
            <span *ngIf="email.errors?.['minlength'] || email.errors?.['email'] ">Enter valid Email address</span>
        </div>
    </div>
    <button class="btn btn-primary">Get reset password link</button>
</form>