form{
    width: 20rem;
}

.form-floating{
    height: 4.5rem;
}
.text-danger{
    margin-left: 3px;
    font-size: 12px;
}

.input-box{
     height: 5rem;
}
.input-error{
    font-size: 11px;
    color: rgb(187, 15, 15);
}
